name: CI

on:
  push:
    branches:
      - "**"

jobs:
  ci:
    runs-on: [ubuntu-latest]
    env:
      status: success
    steps:
      - run: |
        export ref="${GITHUB_HEAD_REF:-$GITHUB_REF}"
        echo "SHORT_REF=\"${${GITHUB_HEAD_REF:-$GITHUB_REF}/*\//}\"" >> $GITHUB_ENV
        echo "SHORT_SHA=${GITHUB_SHA:0:7}" >> $GITHUB_ENV
        echo "SHORT_REPO=${GITHUB_REPOSITORY/*\//}" >> $GITHUB_ENV
        echo "RUN_URL=$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID" >> $GITHUB_ENV
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - run: node -e 'console.log(JSON.stringify(process.env, null, 2))'
      - name: All fields configured
        uses: ./
        with:
          slack_bot_token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel: ${{ secrets.SLACK_CHANNEL }}
          job_status: ${{ env.status }}
          text: "${{ env.status }} test: text *text* _text_"
          pretext: pretext *pretext* _pretext_
          title: title *title* _title_
          title_url: https://google.com
          image_url: https://live.staticflickr.com/65535/26338881111_635425673d_b.jpg
          footer: footer
          footer_icon_url: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png
          fields: |
            Repo|<https://github.com/${{ github.repository }}~~${{ env.SHORT_REPO }}>
            Branch|<https://github.com/${{ github.repository }}/tree/${{ github.ref }}~~${{ env.SHORT_REF }}>
            SHA|<https://github.com/${{ github.repository }}/tree/${{ github.sha }}~~${{ env.SHORT_SHA }}>
          buttons: |
            Build|${{ env. RUN_URL }}
            Button 2|https://bing.com
      - name: Minimal configuration
        uses: ./
        with:
          slack_bot_token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel: ${{ secrets.SLACK_CHANNEL }}
          job_status: ${{ env.status }}
          text: "${{ env.status }} test: text *text* _text_"
